.contain {
  width: 100%;
  height: 100%;
  display: flex;
}

.aligntop {
  align-items: flex-start;
}

.aligncenter {
  align-items: center;
}

.alignbottom {
  align-items: flex-end;
}

.alignstretch {
  align-items: stretch;
}

.justifyleft {
  justify-content: flex-start;
}

.justifycenter {
  justify-content: center;
}

.justifyright {
  justify-content: flex-end;
}

.justifybetween {
  justify-content: space-between;
}

.justifyaround {
  justify-content: space-around;
}