.box {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #9c9c9c;
  transition: border 0.15s linear;
  &:hover {
    border-color: #2260ff;
  }
  &.active {
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
  }
}
