.container {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;

  .top {
    position: absolute;
    bottom: -20px;
    left: 5%;
    border: 10px solid transparent;
    border-top: 15px solid #000;
  }

  .left {
    position: absolute;
    top: 50%;
    left: -7%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-right: 15px solid #000;
  }

  .right {
    position: absolute;
    top: 50%;
    right: -7%;
    transform: translateY(-50%);
    border: 10px solid transparent;
    border-left: 15px solid #000;
  }

  .bottom {
    position: absolute;
    top: -20px;
    left: 5%;
    border: 10px solid transparent;
    border-bottom: 15px solid #000;
  }
}