.container {
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;

  .top {
    position: absolute;
    bottom: -10px;
    left: 5px;
    border: 5px solid transparent;
  }

  .bottom {
    position: absolute;
    top: -10px;
    left: 5px;
    border: 5px solid transparent;
  }
}